@model VidBox.Models.Movie
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    @if (Model.ReleaseDate.HasValue)
    {
        <li>Release Date: @Model.ReleaseDate.Value.ToShortDateString()</li>
    }
    <li>Number in stock: @Model.NumberInStock</li>
</ul>

@Html.ActionLink("Edit", "Edit", "Movies", new { id = Model.Id }, null)

<button data-movie-id="@Model.Id" class="btn-link js-delete">Delete</button>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-delete").on("click", function () {
                var button = $(this);

                if (confirm("Are you sure you want to delete this movie?")) {
                    $.ajax({
                        url: "/api/movies/" + button.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                            window.location.href = "/movies";
                        }
                    });
                }
            });
        });
    </script>
}